#PURPLE {
  background-color: PURPLE;
  height: 25%;
  width: 100%;
  margin-bottom: 0.5rem;
}
#LIGHTBLUE {
  background-color: LIGHTBLUE;
  height: 25%;
  width: 100%;
  margin-bottom: 0.5rem;
}
#ORANGE {
  background-color: ORANGE;
  height: 25%;
  width: 100%;
  margin-bottom: 0.5rem;
}
#RED {
  background-color: RED;
  height: 25%;
  width: 100%;
  margin-bottom: 0.5rem;
}
#YELLOW {
  background-color: YELLOW;
  height: 25%;
  width: 100%;
  margin-bottom: 0.5rem;
}
#VIOLET {
  background-color: VIOLET;
  height: 25%;
  width: 100%;
  margin-bottom: 0.5rem;
}
#DARKGREEN{
    background-color: DARKGREEN;
    height: 25%;
    width: 100%;
    margin-bottom: 0.5rem;
}
#DARKBLUE{
    background-color: DARKBLUE;
    height: 25%;
    width: 100%;
    margin-bottom: 0.5rem;
}