html {
	height: 100%;
}

body {
  font-family: "Slackey", cursive;
  height: 100%;
  margin: 0;
}

.backButtonsClass{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

a {
  background-color: #5cc416;
  border: solid #5cc416;
  border-radius: 0.5rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: right;
}

a:hover{
  border: .1rem solid black;
  background-color: rgb(2, 160, 2);
}

button {
  background-color: #5cc416;
  border: solid #5cc416;
  border-radius:.2rem;
  cursor: pointer;
  color: white;
  font-family: "Slackey", cursive;
}

button:hover {
  border: .1rem solid black;
  background-color: rgb(2, 160, 2);
}